<div id="top_menu">
  <div class="top_menu__logo">
    BWB
  </div>

  <div class="top_menu__content">
    <div class="top_menu_content__notification_icon">
      <mat-icon>notifications</mat-icon>
    </div>

    <div class="top_menu_content__user">
      <div class="top_menu_content_user__avatar"></div>
      <div class="top_menu_content_user__detail">
        <div class="top_menu_content_user_detail__name">Gustavo Souza</div>
        <div class="top_menu_content_user_detail__mail">gustavosouza.social@gmail.com</div>
    </div>
  </div>
</div>
